<article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} ">
  <a href="{{url}}"><h1>{{title}}</h1></a>
  <!--
  {{#if feature_image}}
      <a class="image-link" href="{{url}}">
          <img src="{{feature_image}}" alt="">
      </a>
  {{/if}}
  -->
  <br />
  <span class="date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D YYYY"}}</span>
  <span>{{#if tags}}, {{#foreach tags}}<a href="{{url}}" title={{name}} class="tag tag-{{id}} {{slug}}">{{name}}</a> {{/foreach}}
    {{/if}}</span>
    <p>{{excerpt words="16"}}<a class="content-link" href="{{url}}">Read more</a></p>
    <div class="clearfix"></div>
</article>
