{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

  {{> "site-header"}}

  {{#author}}
        {{#if profile_image}}
            <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
        {{/if}}
        <h1 class="author-name">{{name}}</h1><br />
        <p class="author-subname">Author</p><br />

        {{#if bio}}
            <p class="author-bio">{{bio}}</p><br>
        {{/if}}
        <p class="author-meta">
          {{#if location}}
              From: <span class="author-location">{{location}}, </span>
          {{/if}}
          <span class="author-stats">
              {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}},
          </span>
          {{#if website}}
              web: <a class="social-link social-link-wb" href="{{website}}" target="_blank" rel="noopener">{{website}}</a>,
          {{/if}}
          {{#if twitter}}
              tweets: <a class="social-link social-link-tw" href="{{twitter_url}}" target="_blank" rel="noopener">{{twitter}}</a>,
          {{/if}}

          <a class="social-link social-link-rss" href="http://cloud.feedly.com/#subscription/feed/{{url absolute="true"}}/rss/" target="_blank" rel="noopener">rss</a>
        </p>

  {{/author}}

  <em><h1>Stories</h1></em>
  {{#foreach posts}}
      {{> "post-card"}}
  {{/foreach}}
  {{pagination}}
