{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="layout-centered post-container post-template">
  {{> "site-header"}}
</div>
  {{#post}}
      <article class="gl_lesson post-container {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

        {{> "swift-foundations-sidebar"}}

        <div class="gl_lesson__content_wrapper">

          {{#if feature_image}}
            <img class="feature_image" src="{{feature_image}}" alt="">
          {{/if}}

          <div class="content">
            <h1 class="fancy">{{title}}</h1>
            {{#if excerpt}}
              <p class="excerpt">{{excerpt}}</p>
            {{/if}}

            <hr>
            {{content}}
          </div>
        </div>

      </article>
  {{/post}}

  {{#contentFor "template_class"}} book-template {{/contentFor}}


<script type="text/javascript">
  function remove_prefixes(string) {
    var newstring = string.replace("http://localhost:2368", "");
    newstring = newstring.replace("https://kow.fm", "");
    return newstring
  }

  function remove_urlness(string) {
    // var newstring = string.replace("/", "");
    var newstring = string.replace("/swift_foundations/", "");
    newstring = newstring.replace("#", "");
    newstring = newstring.replace("/", "");
    return newstring
  }

  var get_strings = function() {

    var list_elements = document.querySelectorAll(".gl_lesson__sidebar ul li a");
    var url = remove_prefixes(window.location.href);

    function mark_current(item, index) {
      stripped_string = remove_prefixes(item.href)
      if(stripped_string === url) {
        item.classList.add("current-page");
      }
    }

    list_elements.forEach(mark_current)

  }

  var get_chapter = function() {
    // the key is the page slug
    var chapters = {
      "": "?",
      "introduction": " ",
      "Ethical Programming": "01",
      "How it Fits together": "02",
      "Xcode": "03",
      "Variables and Constants": "04",
    }

    function set_text(stripped = "") {
      var chapter_title = document.querySelector(".gl_lesson__sidebar .chapter-accessory h3")
      chapter_title.textContent = chapters[stripped]
      if (chapters[stripped].length > 50) {
        var thing = ""
      }
      if (chapters[stripped] == " ") {
        // document.querySelector(".gl_lesson__sidebar .chapter-accessory h4").textContent = " "
        document.querySelector(".gl_lesson__sidebar .chapter-accessory").classList.add("hidden");
      }
    }

    var list_elements = document.querySelectorAll(".gl_lesson__sidebar ul li a");
    var url = remove_urlness(remove_prefixes(window.location.href));

    function mark_chapter(item, index) {
      stripped_string = remove_prefixes(item.href)
      stripped_string = remove_urlness(stripped_string)
      console.log("stripped_string", stripped_string)
      console.log("url", url)
      if (stripped_string == url) {
        set_text(stripped_string)
      }
    }

    list_elements.forEach(mark_chapter)
  }

  window.addEventListener('onload', get_strings());
  window.addEventListener('onload', get_chapter());
</script>
