{{!< default}}

  {{#post}}
      <article class="layout-centered post-container post-template {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

        {{> "site-header"}}

          <div class="content">

            {{> "post-title"}}

            {{#if excerpt}}
              <p class="type-excerpt">{{excerpt}}</p>
            {{/if}}

            <p class="subtext"><span class="date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D YYYY"}}</span>, by {{authors separator=", "}},<br></p>

            <hr>

            {{content}}
          </div>
      </article>
  {{/post}}

  {{#contentFor "template_class"}} blog-template {{/contentFor}}
