{{!< default}}
  <div class="layout-centered post-container page-template">

    {{> "site-header"}}

    <div class="content">

      {{#tag}}

        {{#if feature_image}}
          <div class="title-preamble article__image">
            <img class="feature_image" src="{{feature_image}}" alt="">
            <h1>#{{name}}</h1>
          </div>
        {{else}}
          <div class="title-preamble article__text-box">
            <h1>#{{name}}</h1>
          </div>
        {{/if}}

        <p class="type-excerpt">
          {{#if description}}
              {{description}}
          {{else}}
              A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
          {{/if}}
        </p>
      {{/tag}}

      <hr>

      {{#foreach posts}}

        {{> "post-item"}}

      {{/foreach}}

      {{pagination}}
    </div>

  </div>

  {{#contentFor "template_class"}} tag-template page-template {{/contentFor}}
